.App {
  text-align: center;
  color: rebeccapurple;
  background-color: lightsteelblue;
  font-size: 40px;
  font-family: cursive;
  padding-top: 50px;
  text-shadow: salmon 2px 2px;

}

.search-bar {
  height: 30px;
  width: 300px;
  border-radius: 7px;
  box-shadow: rebeccapurple 2px 3px 2px 3px;
}

.searchBtn {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  
  }

.searchBtn:hover {
    background-color: rebeccapurple;
    color: peru;
  }


.App-header {
  background-color: lightsteelblue;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


